.navbar-right {
    margin-right: 20px;
}
body {
    background-image: url("../images/dark-triangles.png");
}
.hide {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
.col-md-5 {
    background-color: rgb(175, 175, 175);
    margin: 10px;
    height: 50px;
    padding: 10px;
    border: 3px solid rgb(110, 0, 0);
    color: darkblue;
    font-size: 18px;
}
.col-md-5:hover {
    background-color: rgb(59, 59, 59);
    color: white;
    border: 3px solid green;
    font-weight: bold;
}
#question-block{
    color: rgb(131, 0, 0);
}
.col-md-offset-1 {
    margin-left: 75px;
}

#right-wrong, #endgame, #pregame {
    color: white;
}
p {
    font-size: 16px;
}
img {
    width: 300px;
}
